{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title%}
  Carregar
{% endblock %}

{% block content %}
  <h2>Carregar Documentos</h2>
  <button type="button" class="btn btn-primary js-upload-docs">
    <span class="glyphicon glyphicon-cloud-upload"></span> Carregar XMLs
  </button>
  <input id="fileupload" type="file" name="doc_file" multiple
        style="display: none;"
        data-url="{% url 'upload' %}"
        data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  <table id="uploaded-docs" class="table table-bordered">
    <thead>
      <tr>
        <th>Documentos Carregados</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in docs %}
        <tr>
          <td><a href="{{ doc.doc_file.url }}">{{ doc.doc_file.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block javascript %}
  <script src="{% static 'upload/js/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'upload/js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'upload/js/jquery.fileupload.js' %}"></script>
  <script src="{% static 'upload/js/basic-upload.js' %}"></script>
{% endblock %}