{% extends 'base.html' %}
{% load static %}

{% block title%}
  Download
{% endblock %}

{% block head_css_page %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock head_css_page %}

{% block content %}
  <h2>Download de Documentos</h2>
    <div class="table-responsive-vertical shadow-z-1">
      <table id="docTable" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>CNPJ emissor</th>
            <th>Razão social emissor</th>
            <th>CNPJ destinatário</th>
            <th>Razão social destinatário</th>
            <th>Número do documento</th>
            <th>Chave do documento</th>
            <th>Data de emissão</th>
            <th>Valor Total</th>
            <th>Download</th>
          </tr>
        </thead>
      </table>
    </div>

{% endblock %}
{% block footer_javascript_page %}
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script src="{% static 'download/js/data-table.js' %}"></script>
{% endblock footer_javascript_page %}